body {
  font-family: Comfortea;
  --A1: #fb5d1a;
  --Gray: #bdbdbd;
}

@font-face {
  font-family: Comfortea;
  src: url(../fonts/Comfortaa-Light.ttf);
}

/* header styles */
.logo-title h4 {
  margin: 0 1rem;
  font-weight: bold;
}

.logo-title {
  color: #000;
  text-decoration: none !important;
}

.devider {
  height: 2rem;
  border-right: 1px solid var(--Gray);
}

a {
  cursor: pointer;
}

.menu-item {
  font-weight: bold;
  padding: 1rem;
  color: #000;
  text-decoration: none !important;
}

.notification-button {
  color: #000;
  margin: 0 1rem;
}

#header-mobile {
  display: none !important;
}

.menu-drawer {
  display: none;
  cursor: pointer;
}
#header-mobile {
  display: none !important;
  top: 0px;
  background: white;
  border: 1px solid var(--Gray);
  padding: 20px;
  height: 100%;
  left: -250px;
  width: 250px;
  transition: left 0.3s ease;
}
#header-mobile.open {
  left: 0;
}
@media (max-width: 600px) {
  #header-mobile {
    display: block !important;
  }
  #header-desktop {
    display: none !important;
  }
  .menu-drawer {
    display: block;
  }
  .menu-item {
    display: block;
    border-top: 1px solid var(--Gray);
  }
  #header-mobile div {
    margin-bottom: 40px;
  }
}
/* header styles */

/* body styles */
.food-counter-grid {
  color: var(--Gray);
  font-size: 10px;
  margin: 3px;
}

.food-name-grid {
  font-size: 15px;
}

.food-grid {
  cursor: pointer;
  color: #000;
  text-decoration: none !important;
}

@media(max-width:991px){
  .food-name-grid{
    font-size: 8px;
  }
}

@media(max-width:767px){
  .food-name-grid{
    font-size: 30px;
  }
  .food-counter-grid{
    font-size: 30px;
  }
  .food-grid-icon{
    width: 25px;
  }
}