body {
  font-family: Comfortea;
  --A1: #fb5d1a;
  --Gray: #bdbdbd;
  --Smoke:#F0F0F0;
}

@font-face {
  font-family: Comfortea;
  src: url(../fonts/Comfortaa-Light.ttf);
}

/* header styles */
.logo-title h4 {
  margin: 0 1rem;
  font-weight: bold;
}

.logo-title {
  color: #000;
  text-decoration: none !important;
}

.devider {
  height: 2rem;
  border-right: 1px solid var(--Gray);
}

a {
  cursor: pointer;
}

.menu-item {
  font-weight: bold;
  padding: 1rem;
  color: #000;
  text-decoration: none !important;
}

.notification-button {
  color: #000;
  margin: 0 1rem;
}

#header-mobile {
  display: none !important;
}

.menu-drawer {
  display: none;
  cursor: pointer;
}
#header-mobile {
  display: none !important;
  top: 0px;
  background: white;
  border: 1px solid var(--Gray);
  padding: 20px;
  height: 100%;
  left: -250px;
  width: 250px;
  z-index: 1;
  transition: left 0.3s ease;
}
#header-mobile.open {
  left: 0;
}
@media (max-width: 600px) {
  #header-mobile {
    display: block !important;
  }
  #header-desktop {
    display: none !important;
  }
  .menu-drawer {
    display: block;
  }
  .menu-item {
    display: block;
    border-top: 1px solid var(--Gray);
  }
  #header-mobile div {
    margin-bottom: 40px;
  }
}

#profile-popup {
  display: none;
  position: absolute;
  right: 0;
  padding: 20px 40px;
  margin: 0 40px;
  top: 15px;
  background-color: var(--Smoke);
  border-radius: 5px;
  box-shadow: 2px 4px 5px 2px #34343475;
  text-align: center;
  opacity: 0;
  transform: rotate(-90deg);
  transition: opacity 0.3s, transform 0.3s ease-in-out;
  z-index: 1;
}

#profile-popup.show {
  display: block;
  opacity: 1;
  transform: rotate(0deg);
}

#profile-popup img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

#profile-popup a,
#profile-popup h5 {
  margin: 1rem;
}

#profile-popup a{
  text-decoration: none !important;
  color:#000
}

.active-menu-item-desktop {
  border-bottom: 2px solid;
}

.active-menu-item-mobile {
  background-color: var(--Gray);
}

.signup-header{
  text-align: left;
  margin: 7rem 10rem 0;
}

@media(max-width:1000px){
  .signup-header{
    margin: 7rem 0 0;
  }
}

.signup-header h1{
  font-weight: bold;
}

.signup-header h4{
  color: var(--Gray);
}

header .subscribe-button{
  padding: 5px 10px;
  font-weight: normal;
  font-size: 15px;
}

/* header styles */

/* body styles */
.food-counter-grid {
  color: var(--Gray);
  font-size: 10px;
  margin: 3px;
}

.food-name-grid {
  font-size: 15px;
}

.food-name-profile-grid {
  font-size: 10px;
}

.food-grid {
  cursor: pointer;
  color: #000;
  text-decoration: none !important;
}

@media (max-width: 991px) {
  .food-name-grid {
    font-size: 8px;
  }
  .food-name-profile-grid {
    font-size: 6px;
  }

  .food-counter-grid {
    font-size: 6px;
  }
}

@media (max-width: 767px) {
  .food-name-grid {
    font-size: 30px;
  }

  .food-name-profile-grid {
    font-size: 25px;
  }
  .food-counter-grid {
    font-size: 30px;
  }
  .food-grid-icon {
    width: 25px;
  }
  .food-name-profile-grid img {
    width: 25px;
  }
}

.subscribe-button {
  padding: 15px 50px;
  color: #fff;
  background-color: var(--A1);
  border-radius: 30px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none !important;
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 100%;
  border: 1px solid var(--A1);
  border-radius: 30px;
  padding: 10px;
  padding-left: 40px;
}

.search-label{
  position: absolute;
  top: 13px;
  left: 10px;
}

.category-span{
  border-radius: 30px;
  padding: 10px 30px;
  width: max-content;
  margin: 10px;
  cursor: pointer;
}

.selected-category-span {
  background-color: var(--A1);
  color: #fff;
}

.deselected-category-span {
  background-color: var(--Gray);
  color: #000;
}

.label-explore-grid-items{
  margin: 15px 30px 5px !important;
  color:var(--Gray)
}

.signup-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.signup-form img{
  width: 300px;
  height: 300px;
}

@media(max-width:600px){
  .signup-form img{
    width:200px;
    height: 200px;
    float: right;
  }

  .signup-form input{
    width: 90% !important;
  }

  .signup-form{
    display: block;
  }
}

.signup-form input{
padding: 10px 20px;
background-color: var(--Smoke);
border:none;
margin: 10px;
width: 100%;
border-radius: 5px;
}

.submit-btn{
  background-color: var(--A1);
  color: #fff;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none !important;
  text-align: center;
  width: max-content;
  margin: 10px;
  border:none;
}