body {
  font-family: Comfortea;
  --A1: #fb5d1a;
  --Gray: #bdbdbd;
  --GrayLikeSmoke:#ECECEC;
  --Smoke: #f0f0f0;
  --TextColor: #000;
  --TextColor2: #fff;
  --Shadow: #34343475;
}

@font-face {
  font-family: Comfortea;
  src: url(../fonts/Comfortaa-Light.ttf);
}

/* header styles */
.logo-title h4 {
  margin: 0 1rem;
  font-weight: bold;
}

.logo-title {
  color: var(--TextColor);
  text-decoration: none !important;
}

.devider {
  height: 2rem;
  border-right: 1px solid var(--Gray);
}

a {
  cursor: pointer;
}

.menu-item {
  font-weight: bold;
  padding: 1rem;
  color: var(--TextColor);
  text-decoration: none !important;
}

.notification-button {
  color: var(--TextColor);
  margin: 0 1rem;
}

#header-mobile {
  display: none !important;
}

.menu-drawer {
  display: none;
  cursor: pointer;
}

#header-mobile {
  display: none !important;
  top: 0px;
  background: white;
  border: 1px solid var(--Gray);
  padding: 20px;
  height: 100%;
  left: -250px;
  width: 250px;
  z-index: 1;
  transition: left 0.3s ease;
}

#header-mobile.open {
  left: 0;
}

@media (max-width: 600px) {
  #header-mobile {
    display: block !important;
  }
  #header-desktop {
    display: none !important;
  }
  .menu-drawer {
    display: block;
  }
  .menu-item {
    display: block;
    border-top: 1px solid var(--Gray);
  }
  #header-mobile div {
    margin-bottom: 40px;
  }
}

#profile-popup {
  display: none;
  position: absolute;
  right: 0;
  padding: 20px 40px;
  margin: 0 40px;
  top: 15px;
  background-color: var(--Smoke);
  border-radius: 5px;
  box-shadow: 2px 4px 5px 2px var(--Shadow);
  text-align: center;
  z-index: 1;
}

#profile-popup.show {
  display: block;
}

#profile-popup img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

#profile-popup a,
#profile-popup h5 {
  margin: 1rem;
}

#profile-popup a {
  text-decoration: none !important;
  color: var(--TextColor);
}

.active-menu-item-desktop {
  border-bottom: 2px solid;
}

.active-menu-item-mobile {
  background-color: var(--Gray);
}

.signup-header {
  text-align: left;
  margin: 7rem 10rem 0;
}

@media (max-width: 1000px) {
  .signup-header {
    margin: 7rem 0 0;
  }
}

.signup-header h1 {
  font-weight: bold;
}

.signup-header h4 {
  color: var(--Gray);
}

header .subscribe-button {
  padding: 5px 10px;
  font-weight: normal;
  font-size: 15px;
}

/* header styles */

/* body styles */
.food-counter-grid {
  color: var(--Gray);
  font-size: 10px;
  margin: 3px;
}

.food-name-grid {
  font-size: 15px;
}

.food-name-profile-grid {
  font-size: 10px;
}

.food-grid {
  cursor: pointer;
  color: var(--TextColor);
  text-decoration: none !important;
}

@media (max-width: 991px) {
  .food-name-grid {
    font-size: 8px;
  }
  .food-name-profile-grid {
    font-size: 6px;
  }

  .food-counter-grid {
    font-size: 6px;
  }
}

@media (max-width: 767px) {
  .food-name-grid {
    font-size: 30px;
  }

  .food-name-profile-grid {
    font-size: 25px;
  }
  .food-counter-grid {
    font-size: 30px;
  }
  .food-grid-icon {
    width: 25px;
  }
  .food-name-profile-grid img {
    width: 25px;
  }
}

.subscribe-button {
  padding: 15px 50px;
  color: var(--TextColor2);
  background-color: var(--A1);
  border-radius: 30px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none !important;
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 100%;
  border: 1px solid var(--A1);
  border-radius: 30px;
  padding: 10px;
  padding-left: 40px;
}

.search-label {
  position: absolute;
  top: 13px;
  left: 10px;
}

.category-span {
  border-radius: 30px;
  padding: 10px 30px;
  width: max-content;
  margin: 10px;
  cursor: pointer;
}

.selected-category-span {
  background-color: var(--A1);
  color: var(--TextColor2);
}

.deselected-category-span {
  background-color: var(--Gray);
  color: var(--TextColor);
}

.label-explore-grid-items {
  margin: 15px 30px 5px !important;
  color: var(--Gray);
}

.signup-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-form img {
  width: 300px;
  height: 300px;
}

@media (max-width: 600px) {
  .signup-form img {
    width: 200px;
    height: 200px;
    float: right;
  }

  .signup-form input {
    width: 90% !important;
  }

  .signup-form {
    display: block;
  }
}

.signup-form input {
  padding: 10px 20px;
  background-color: var(--Smoke);
  border: none;
  margin: 10px;
  width: 100%;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--A1);
  color: var(--TextColor2);
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none !important;
  text-align: center;
  width: max-content;
  margin: 10px;
  border: none;
}

.profile-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--Gray);
  padding: 0px 50px;
}

#followers,
#followings {
  cursor: pointer;
}

#followers-menu {
  position: absolute;
  left: 0;
  padding: 10px;
  top: 80px;
  background-color: var(--Smoke);
  border-radius: 5px;
  box-shadow: 2px 4px 5px 2px var(--Shadow);
  text-align: center;
  z-index: 1;
  display: none;
  height: 70%;
  overflow: auto;
}

.search-followers{
  position: relative;
}

.search-followers input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  padding-left: 40px;
  background-color: var(--GrayLikeSmoke);
}

.user-follower{
  align-items: center;
  justify-content: left;
  margin-top: 1rem;
  color:var(--TextColor);
  text-decoration: none !important;
  display: flex;
  padding-left: 50px;
}

.following-menu{
  display: flex;
  align-items: center;
}

@media(max-width:500px){
  .following-menu {
    display: block;
  }
}

.user-name{
  font-size: 25px;
}

@media(max-width:700px){
  .user-name{
    font-size: 20px;
  }
  
}